.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}

.links {
    color: white;
    padding-left: 33px;
    padding-right: 25px;
    font-family: fantasy;
    font-size: 30px;
    display: inline;
}

.menu {
    width: 100%;
    font-family: monospace;
    position: fixed;
    top: 0px;
    margin-top: 0px;
    z-index: 10;
    cursor: pointer;
    background: white;
}

.links:hover {

    background-color: dodgerblue;
}

html {
    scroll-behavior: smooth;
}

body {
    text-align: center;

}

.img2 {
    height: 170px;
    width: 20%;

}

h1 {
    font-size: 50px;
}

#myCarousel {

    background-color: red;
}

#myCarousel img {
    height: 700px;
    margin-top: 35px;
    width: 100%;

}

.carousel-inner p {
    margin-bottom: 15px;
    margin-top: 15px;
    color: white;
    font-size: 20px;
}

#home {
    text-align: center;

}

#o {
    width: 100%;
}

.container {
    text-align: center;
}
